{% extends 'base1.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<header>
    Student Admission Portal
</header>

<div class="form-container">
        <div style="width: 100%;">
            <img src="{% static 'images/admisson_01.jpg' %}" alt="Admission Image" class="footer-image">
        </div>

    
    <div style="margin: 20px;">
        <h2>Student Admission Form : 2025-26</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}